{
  "openapi": "3.0.0",
  "info": {
    "title": "Api V1",
    "description": "Version 1 api for Spotdiff React application.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://leads.spotdif.com/api/v1"
    },
    {
      "url": "https://backendryft.walkwel.info/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "noauthAuth": {
        "type": "http",
        "scheme": "noauth"
      }
    }
  },
  "tags": [
    {
      "name": "User Authentication",
      "description": "Allows user to authenticate themselves by either\n\n- Sign IN\n- Sign UP\n    \n\nAlso provides the endpoints that can be used to perform common tasks such as:\n\n- Changing Passwords\n- Verifying Currently logged in user"
    },
    {
      "name": "Authenticated Routes",
      "description": "The routes will only be accessible to users who have successfully logged into the system using appropriate APIs"
    },
    {
      "name": "Authenticated Routes > User module"
    },
    {
      "name": "Authenticated Routes > Card Details"
    },
    {
      "name": "Authenticated Routes > Admin Settings"
    },
    {
      "name": "Authenticated Routes > Dashboard"
    },
    {
      "name": "Authenticated Routes > Leads"
    },
    {
      "name": "Authenticated Routes > Transactions"
    },
    {
      "name": "Authenticated Routes > Business Details"
    },
    {
      "name": "Authenticated Routes > User Lead Details"
    },
    {
      "name": "Authenticated Routes > Invitation Folder"
    },
    {
      "name": "Authenticated Routes > Terms and Conditions"
    },
    {
      "name": "Authenticated Routes > Free Credits Link"
    },
    {
      "name": "Authenticated Routes > Business Industy"
    },
    {
      "name": "Guest Routes"
    },
    {
      "name": "Guest Routes > Version"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "User Authentication"
        ],
        "summary": "Register",
        "description": "**Frontend Uses:**\n\n- Request: IRegisterUserRequest\n- Response: IUserRegisterResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "firstName": "John",
                  "lastName": "Doe",
                  "phoneNumber": "09876532",
                  "password": "secret@1",
                  "email": "postman.test.dev@example.com",
                  "confirmPassword": "secret@1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "successfully registered",
                  "data": {
                    "_id": "64b67928cc83d49f8ec7a161",
                    "firstName": "jack",
                    "lastName": "shref",
                    "email": "jack123@example.com",
                    "phoneNumber": "09876532",
                    "role": "user",
                    "credits": 500,
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0YjY3OTI4Y2M4M2Q0OWY4ZWM3YTE2MSIsImZpcnN0TmFtZSI6ImphY2siLCJsYXN0TmFtZSI6InNocmVmIiwiZW1haWwiOiJqYWNrMTIzQGV4YW1wbGUuY29tIiwicm9sZSI6InVzZXIiLCJkYXRlIjoiMjAyMy0wNy0xOFQxMTozNjowOC4zNDhaIiwiaWF0IjoxNjg5NjgwMTY4LCJleHAiOjE2ODk3MDg5Njh9.AVRDsb70Gb8ibJLfWbQNjq3TURjYRud-roZGcqs5u88",
                    "autoCharge": true,
                    "leadCost": 20,
                    "isRyftCustomer": true,
                    "isArchived": false,
                    "isLeadbyteCustomer": true,
                    "autoChargeAmount": 100,
                    "verifiedAt": null,
                    "isVerified": true,
                    "isActive": true,
                    "activatedAt": null,
                    "isDeleted": false,
                    "businessDetailsId": {
                      "_id": "64bbd440b577b0466e7a4b9d",
                      "businessIndustry": "Boilers",
                      "businessDescription": "secrtee secret csefdrt",
                      "businessName": "windows",
                      "businessLogo": "/profile-image/businessLogo-1690031168692.jpeg",
                      "address1": "Origin",
                      "address2": "Clifton",
                      "businessSalesNumber": "1234567",
                      "businessAddress": "Origin Clifton",
                      "businessCity": "Bristol",
                      "businessPostCode": "BG6",
                      "businessOpeningHours": [
                        {
                          "day": "Monday",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        }
                      ],
                      "isDeleted": false,
                      "deletedAt": null,
                      "createdAt": "2023-07-22T13:06:08.750Z",
                      "updatedAt": "2023-07-22T13:06:08.750Z",
                      "__v": 0
                    },
                    "businessIndustryId": "64bb665e86f8c55861d3d28f",
                    "userLeadsDetailsId": {
                      "_id": "64bbd45eb577b0466e7a4bac",
                      "userId": "64bbd405b577b0466e7a4b7e",
                      "total": 0,
                      "daily": 7,
                      "dailyLeadCost": 140,
                      "weekly": 0,
                      "monthly": 0,
                      "leadSchedule": [
                        {
                          "day": "Monday",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "Wednesday",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        }
                      ],
                      "leadAlertsFrequency": "instant",
                      "zapierUrl": "",
                      "sendDataToZapier": false,
                      "postCodeTargettingList": [
                        {
                          "county": "PH",
                          "postalCode": [
                            "PH1",
                            "PH2",
                            "PH3",
                            "PH4",
                            "PH5",
                            "PH6",
                            "PH7",
                            "PH8",
                            "PH9",
                            "PH10",
                            "PH11",
                            "PH12",
                            "PH13",
                            "PH14",
                            "PH15",
                            "PH16",
                            "PH17",
                            "PH18",
                            "PH19",
                            "PH20",
                            "PH21",
                            "PH22",
                            "PH23",
                            "PH24",
                            "PH25",
                            "PH26",
                            "PH30",
                            "PH31",
                            "PH32",
                            "PH33",
                            "PH34",
                            "PH35",
                            "PH36",
                            "PH37",
                            "PH38",
                            "PH39",
                            "PH40",
                            "PH41",
                            "PH42",
                            "PH43",
                            "PH44",
                            "PH49",
                            "PH50"
                          ]
                        }
                      ],
                      "isDeleted": false,
                      "deletedAt": null,
                      "createdAt": "2023-07-22T13:06:38.132Z",
                      "updatedAt": "2023-07-22T13:06:38.132Z",
                      "__v": 0
                    },
                    "invitedById": null,
                    "paymentMethod": "add credits manually",
                    "rowIndex": 9,
                    "userNotes": "",
                    "isLeadCostCheck": true,
                    "onBoarding": [
                      {
                        "key": "businessDetails",
                        "pendingFields": [],
                        "dependencies": []
                      },
                      {
                        "key": "leadDetails",
                        "pendingFields": [],
                        "dependencies": []
                      },
                      {
                        "key": "cardDetails",
                        "pendingFields": [],
                        "dependencies": []
                      }
                    ],
                    "isUserSignup": true,
                    "registrationMailSentToAdmin": true,
                    "premiumUser": "top-up",
                    "promoLinkId": "64bbd3d5b577b0466e7a4b77",
                    "createdAt": "2023-07-22T13:05:09.067Z",
                    "updatedAt": "2023-07-23T05:35:06.075Z",
                    "__v": 0,
                    "ryftClientId": "cus_01H5YV8HQYY044GJ7WPKXAQ2C1",
                    "buyerId": "2406"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "message": "User already exists with same email."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "User Authentication"
        ],
        "summary": "Login",
        "description": "**Frontend Uses:**\n\n- Request: ILoginUserRequest\n- Response: ILoginUserRespones",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "postman.test.dev@example.com",
                  "password": "secret@1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "_id": "64b67928cc83d49f8ec7a161",
                    "firstName": "jack",
                    "lastName": "shref",
                    "email": "jack123@example.com",
                    "phoneNumber": "09876532",
                    "role": "user",
                    "credits": 500,
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0YjY3OTI4Y2M4M2Q0OWY4ZWM3YTE2MSIsImZpcnN0TmFtZSI6ImphY2siLCJsYXN0TmFtZSI6InNocmVmIiwiZW1haWwiOiJqYWNrMTIzQGV4YW1wbGUuY29tIiwicm9sZSI6InVzZXIiLCJkYXRlIjoiMjAyMy0wNy0xOFQxMTozNjowOC4zNDhaIiwiaWF0IjoxNjg5NjgwMTY4LCJleHAiOjE2ODk3MDg5Njh9.AVRDsb70Gb8ibJLfWbQNjq3TURjYRud-roZGcqs5u88",
                    "autoCharge": true,
                    "leadCost": 20,
                    "isRyftCustomer": true,
                    "isArchived": false,
                    "isLeadbyteCustomer": true,
                    "autoChargeAmount": 100,
                    "verifiedAt": null,
                    "isVerified": true,
                    "isActive": true,
                    "activatedAt": null,
                    "isDeleted": false,
                    "businessDetailsId": {
                      "_id": "64bbd440b577b0466e7a4b9d",
                      "businessIndustry": "Boilers",
                      "businessDescription": "secrtee secret csefdrt",
                      "businessName": "windows",
                      "businessLogo": "/profile-image/businessLogo-1690031168692.jpeg",
                      "address1": "Origin",
                      "address2": "Clifton",
                      "businessSalesNumber": "1234567",
                      "businessAddress": "Origin Clifton",
                      "businessCity": "Bristol",
                      "businessPostCode": "BG6",
                      "businessOpeningHours": [
                        {
                          "day": "Monday",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        }
                      ],
                      "isDeleted": false,
                      "deletedAt": null,
                      "createdAt": "2023-07-22T13:06:08.750Z",
                      "updatedAt": "2023-07-22T13:06:08.750Z",
                      "__v": 0
                    },
                    "businessIndustryId": "64bb665e86f8c55861d3d28f",
                    "userLeadsDetailsId": {
                      "_id": "64bbd45eb577b0466e7a4bac",
                      "userId": "64bbd405b577b0466e7a4b7e",
                      "total": 0,
                      "daily": 7,
                      "dailyLeadCost": 140,
                      "weekly": 0,
                      "monthly": 0,
                      "leadSchedule": [
                        {
                          "day": "Monday",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "Wednesday",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        },
                        {
                          "day": "",
                          "openTime": "00:00",
                          "closeTime": "12:00"
                        }
                      ],
                      "leadAlertsFrequency": "instant",
                      "zapierUrl": "",
                      "sendDataToZapier": false,
                      "postCodeTargettingList": [
                        {
                          "county": "PH",
                          "postalCode": [
                            "PH1",
                            "PH2",
                            "PH3",
                            "PH4",
                            "PH5",
                            "PH6",
                            "PH7",
                            "PH8",
                            "PH9",
                            "PH10",
                            "PH11",
                            "PH12",
                            "PH13",
                            "PH14",
                            "PH15",
                            "PH16",
                            "PH17",
                            "PH18",
                            "PH19",
                            "PH20",
                            "PH21",
                            "PH22",
                            "PH23",
                            "PH24",
                            "PH25",
                            "PH26",
                            "PH30",
                            "PH31",
                            "PH32",
                            "PH33",
                            "PH34",
                            "PH35",
                            "PH36",
                            "PH37",
                            "PH38",
                            "PH39",
                            "PH40",
                            "PH41",
                            "PH42",
                            "PH43",
                            "PH44",
                            "PH49",
                            "PH50"
                          ]
                        }
                      ],
                      "isDeleted": false,
                      "deletedAt": null,
                      "createdAt": "2023-07-22T13:06:38.132Z",
                      "updatedAt": "2023-07-22T13:06:38.132Z",
                      "__v": 0
                    },
                    "invitedById": null,
                    "paymentMethod": "add credits manually",
                    "rowIndex": 9,
                    "userNotes": "",
                    "isLeadCostCheck": true,
                    "onBoarding": [
                      {
                        "key": "businessDetails",
                        "pendingFields": [],
                        "dependencies": []
                      },
                      {
                        "key": "leadDetails",
                        "pendingFields": [],
                        "dependencies": []
                      },
                      {
                        "key": "cardDetails",
                        "pendingFields": [],
                        "dependencies": []
                      }
                    ],
                    "isUserSignup": true,
                    "registrationMailSentToAdmin": true,
                    "premiumUser": "top-up",
                    "promoLinkId": "64bbd3d5b577b0466e7a4b77",
                    "createdAt": "2023-07-22T13:05:09.067Z",
                    "updatedAt": "2023-07-23T05:35:06.075Z",
                    "__v": 0,
                    "ryftClientId": "cus_01H5YV8HQYY044GJ7WPKXAQ2C1",
                    "buyerId": "2406"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "User Doesn't Exist"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/change-password": {
      "post": {
        "tags": [
          "User Authentication"
        ],
        "summary": "Change Password",
        "description": "**Frontend Uses:**\n\n- Request: IChangePasswordRequest\n- Response: IChangePasswordResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "currentPassword": "PnfUiTbS$",
                  "newPassword": "secret@7",
                  "confirmPassword": "secret@7"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "message": "Password reset successfully."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "User to update does not exists / Invalid current password / newPassword and confirmPassword doesn't match.."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth": {
      "get": {
        "tags": [
          "User Authentication"
        ],
        "summary": "LoggedIn user",
        "description": "**Frontend Uses:**\n\n- Response: ILoggedInUserResponse",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "autoChargeAmount": 50,
                    "_id": "64bb678286f8c55861d3d2ee",
                    "firstName": "John",
                    "lastName": "Doe",
                    "email": "john76.doe@example.com",
                    "role": "user",
                    "autoCharge": true,
                    "leadCost": 10,
                    "phoneNumber": "09876532",
                    "isRyftCustomer": true,
                    "isArchived": false,
                    "isLeadbyteCustomer": false,
                    "credits": 0,
                    "verifiedAt": null,
                    "isVerified": true,
                    "isActive": true,
                    "activatedAt": null,
                    "isDeleted": false,
                    "businessDetailsId": null,
                    "businessIndustryId": null,
                    "userLeadsDetailsId": null,
                    "invitedById": null,
                    "paymentMethod": "add credits manually",
                    "rowIndex": 3,
                    "userNotes": "",
                    "isLeadCostCheck": true,
                    "onBoarding": [
                      {
                        "key": "businessDetails",
                        "pendingFields": [
                          "businessIndustry",
                          "businessName",
                          "businessSalesNumber",
                          "businessPostCode",
                          "businessLogo",
                          "address1",
                          "businessOpeningHours",
                          "businessCity"
                        ],
                        "dependencies": []
                      },
                      {
                        "key": "leadDetails",
                        "pendingFields": [
                          "daily",
                          "leadSchedule",
                          "postCodeTargettingList"
                        ],
                        "dependencies": [
                          "businessIndustry"
                        ]
                      },
                      {
                        "key": "cardDetails",
                        "pendingFields": [
                          "cardNumber"
                        ],
                        "dependencies": []
                      }
                    ],
                    "isUserSignup": false,
                    "registrationMailSentToAdmin": false,
                    "createdAt": "2023-07-22T05:22:10.497Z",
                    "updatedAt": "2023-07-22T05:22:11.598Z",
                    "ryftClientId": "cus_01H5Y0RP53WA8X4JBGTVMMB62B"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Invalid Token. Access Denied!"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "User Authentication"
        ],
        "summary": "LoggedIn user",
        "description": "**Frontend Uses:**\n\n- Response: ILoggedInUserResponse",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "autoChargeAmount": 50,
                    "_id": "64bb678286f8c55861d3d2ee",
                    "firstName": "John",
                    "lastName": "Doe",
                    "email": "john76.doe@example.com",
                    "role": "user",
                    "autoCharge": true,
                    "leadCost": 10,
                    "phoneNumber": "09876532",
                    "isRyftCustomer": true,
                    "isArchived": false,
                    "isLeadbyteCustomer": false,
                    "credits": 0,
                    "verifiedAt": null,
                    "isVerified": true,
                    "isActive": true,
                    "activatedAt": null,
                    "isDeleted": false,
                    "businessDetailsId": null,
                    "businessIndustryId": null,
                    "userLeadsDetailsId": null,
                    "invitedById": null,
                    "paymentMethod": "add credits manually",
                    "rowIndex": 3,
                    "userNotes": "",
                    "isLeadCostCheck": true,
                    "onBoarding": [
                      {
                        "key": "businessDetails",
                        "pendingFields": [
                          "businessIndustry",
                          "businessName",
                          "businessSalesNumber",
                          "businessPostCode",
                          "businessLogo",
                          "address1",
                          "businessOpeningHours",
                          "businessCity"
                        ],
                        "dependencies": []
                      },
                      {
                        "key": "leadDetails",
                        "pendingFields": [
                          "daily",
                          "leadSchedule",
                          "postCodeTargettingList"
                        ],
                        "dependencies": [
                          "businessIndustry"
                        ]
                      },
                      {
                        "key": "cardDetails",
                        "pendingFields": [
                          "cardNumber"
                        ],
                        "dependencies": []
                      }
                    ],
                    "isUserSignup": false,
                    "registrationMailSentToAdmin": false,
                    "createdAt": "2023-07-22T05:22:10.497Z",
                    "updatedAt": "2023-07-22T05:22:11.598Z",
                    "ryftClientId": "cus_01H5Y0RP53WA8X4JBGTVMMB62B"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Invalid Token. Access Denied!"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/activeUser/{userId}": {
      "post": {
        "tags": [
          "User Authentication"
        ],
        "summary": "Active User",
        "description": "**Frontend Uses:**\n\n- Request: IRouteParamRequest\n- Response: IActiveUserResponse",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "example": "63aed277bf2d3eda4e0edcc0"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "id": "64b67928cc83d49f8ec7a161",
                    "firstName": "jack",
                    "lastName": "shref",
                    "email": "jack123@example.com",
                    "role": "user",
                    "isRyftCustomer": true,
                    "isLeadbyteCustomer": false,
                    "autoChargeAmount": 500,
                    "businessDetailsId": "64b67995cc83d49f8ec7a179",
                    "userLeadsDetailsId": "64b67b0496130d40296336f6"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/map": {
      "get": {
        "tags": [
          "User Authentication"
        ],
        "summary": "PostCodes Map UK",
        "description": "**Frontend Uses:**\n\n- Response: IPostCodesMapUKResponse",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "type": "Topology",
                    "arcs": [
                      [
                        [
                          60911,
                          12557
                        ]
                      ]
                    ],
                    "transform": {
                      "scale": [
                        0.00022740392398122293,
                        0.0001304268871654539
                      ],
                      "translate": [
                        -13.685276985168343,
                        49.86875152587896
                      ]
                    },
                    "objects": {
                      "GBR_adm2": {
                        "type": "GeometryCollection",
                        "geometries": [
                          {
                            "arcs": [
                              [
                                0,
                                1,
                                2,
                                3,
                                4
                              ]
                            ],
                            "type": "Polygon",
                            "id": "GB.BA",
                            "properties": {
                              "ISO": "GBR",
                              "NAME_0": "United Kingdom",
                              "ID_1": 1,
                              "NAME_1": "England",
                              "ID_2": 1,
                              "NAME_2": "Barking and Dagenham",
                              "HASC_2": "GB.BA",
                              "TYPE_2": "London Borough",
                              "ENGTYPE_2": "London Borough",
                              "VARNAME_2": ""
                            }
                          },
                          {
                            "arcs": [
                              [
                                -325,
                                -812,
                                -783,
                                -788,
                                -75
                              ]
                            ],
                            "type": "Polygon",
                            "properties": {
                              "ISO": "GBR",
                              "NAME_0": "United Kingdom",
                              "ID_1": 4,
                              "NAME_1": "Wales",
                              "ID_2": 192,
                              "NAME_2": "Wrexham",
                              "HASC_2": "GB.WX",
                              "TYPE_2": "Unitary Authority (wales)",
                              "ENGTYPE_2": "Unitary Authority (wales",
                              "VARNAME_2": ""
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/map/ireland": {
      "get": {
        "tags": [
          "User Authentication"
        ],
        "summary": "PostCodes Map Ireland",
        "description": "**Frontend Uses:**\n\n- Response: IPostCodesMapIrelandResponse",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "type": "Topology",
                    "arcs": [
                      [
                        [
                          60911,
                          12557
                        ]
                      ]
                    ],
                      "transform": {
                        "scale": [
                          0.00022740392398122293,
                          0.0001304268871654539
                        ],
                        "translate": [
                          -13.685276985168343,
                          49.86875152587896
                        ]
                      },
                      "objects": {
                        "GBR_adm2": {
                          "type": "GeometryCollection",
                          "geometries": [
                            {
                              "arcs": [
                                [
                                  0,
                                  1,
                                  2,
                                  3,
                                  4
                                ]
                              ],
                              "type": "Polygon",
                              "id": "GB.BA",
                              "properties": {
                                "ISO": "GBR",
                                "NAME_0": "United Kingdom",
                                "ID_1": 1,
                                "NAME_1": "England",
                                "ID_2": 1,
                                "NAME_2": "Barking and Dagenham",
                                "HASC_2": "GB.BA",
                                "TYPE_2": "London Borough",
                                "ENGTYPE_2": "London Borough",
                                "VARNAME_2": ""
                              }
                            },                         
                          
                            {
                              "arcs": [
                                [
                                  -325,
                                  -812,
                                  -783,
                                  -788,
                                  -75
                                ]
                              ],
                              "type": "Polygon",
                              "properties": {
                                "ISO": "GBR",
                                "NAME_0": "United Kingdom",
                                "ID_1": 4,
                                "NAME_1": "Wales",
                                "ID_2": 192,
                                "NAME_2": "Wrexham",
                                "HASC_2": "GB.WX",
                                "TYPE_2": "Unitary Authority (wales)",
                                "ENGTYPE_2": "Unitary Authority (wales",
                                "VARNAME_2": ""
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user": {
        "get": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "User List",
          "description": "Gives map of Ireland.",
          "parameters":[ {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "41o"
          }],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": [
                      {
                        "_id": "64b67928cc83d49f8ec7a161",
                        "firstName": "jack",
                        "lastName": "shref",
                        "email": "jack123@example.com",
                        "role": "user",
                        "autoCharge": true,
                        "leadCost": 10,
                        "phoneNumber": "09876532",
                        "isArchived": false,
                        "credits": 0,
                        "autoChargeAmount": 500,
                        "isActive": true,
                        "businessDetailsId": {
                          "businessIndustry": " IT",
                          "businessName": " coder tech",
                          "address1": " toronto",
                          "address2": " canada",
                          "businessSalesNumber": "valley",
                          "businessAddress": " toronto  canada",
                          "businessCity": "london",
                          "businessPostCode": "[d87,h09]",
                          "businessOpeningHours": [
                            {
                              "day": "Monday",
                              "openTime": "00:00",
                              "closeTime": "00:00"
                            },
                            {
                              "day": "Tuesday",
                              "openTime": "00:00",
                              "closeTime": "00:00"
                            },
                            {
                              "day": "",
                              "openTime": "00:00",
                              "closeTime": "00:00"
                            },
                            {
                              "day": "",
                              "openTime": "00:00",
                              "closeTime": "00:00"
                            },
                            {
                              "day": "",
                              "openTime": "00:00",
                              "closeTime": "00:00"
                            },
                            {
                              "day": "",
                              "openTime": "00:00",
                              "closeTime": "00:00"
                            },
                            {
                              "day": "",
                              "openTime": "00:00",
                              "closeTime": "00:00"
                            }
                          ]
                        },
                        "businessIndustryId": null,
                        "userLeadsDetailsId": {
                          "total": 0,
                          "daily": 5,
                          "dailyLeadCost": 50,
                          "weekly": 0,
                          "monthly": 0,
                          "leadSchedule": [
                            "[{\"day\":\"Monday\",\"openTime\":\"00:00\",\"closeTime\":\"00:00\"},{\"day\":\"Tuesday\",\"openTime\":\"00:00\",\"closeTime\":\"00:00\"},{\"day\":\"\",\"openTime\":\"00:00\",\"closeTime\":\"00:00\"},{\"day\":\"\",\"openTime\":\"00:00\",\"closeTime\":\"00:00\"},{\"day\":\"\",\"openTime\":\"00:00\",\"closeTime\":\"00:00\"},{\"day\":\"\",\"openTime\":\"00:00\",\"closeTime\":\"00:00\"},{\"day\":\"\",\"openTime\":\"00:00\",\"closeTime\":\"00:00\"}]"
                          ],
                          "leadAlertsFrequency": "instant",
                          "zapierUrl": "",
                          "sendDataToZapier": false,
                          "postCodeTargettingList": [
                            "['BG5','FR4']"
                          ]
                        },
                        "paymentMethod": "add credits manually",
                        "rowIndex": 927,
                        "userNotes": "",
                        "isLeadCostCheck": true,
                        "onBoarding": [
                          {
                            "key": "businessDetails",
                            "pendingFields": []
                          },
                          {
                            "key": "leadDetails",
                            "pendingFields": [
                              "daily",
                              "leadSchedule",
                              "postCodeTargettingList"
                            ],
                            "dependencies": [
                              "businessIndustry"
                            ]
                          },
                          {
                            "key": "cardDetails",
                            "pendingFields": [
                              "cardNumber"
                            ],
                            "dependencies": []
                          }
                        ],
                        "isUserSignup": false,
                        "registrationMailSentToAdmin": true,
                        "ryftClientId": "cus_01H5MCJJ89NHSZXH3E1Y32VTSA",
                        "premiumUser":"top-up",
                        "promoLinkId":"64bbd3d5b577b0466e7a4b77"
                      }
                    ],
                    "meta": {
                      "perPage": 10,
                      "page": 1,
                      "pages": 65,
                      "total": 642
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "error": {
                      "message": "You dont't have access to this resource.!"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Create User",
          "description": "StartFragment\n\n**Frontend Uses:**\n\n- Request: IRouteParamRequest\n- Response: IActiveUserResponse\n    \n\nEndFragmen",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "firstName": "test2",
                    "lastName": "test2",
                    "salesPhoneNumber": "85597894568",
                    "password": "123456",
                    "email": "test2@gmail.com",
                    "address": "mohali",
                    "city": "mohali",
                    "postCode": "140055",
                    "companyName": "testcompany",
                    "companyUSPs": "test",
                    "country": "india"
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "user": {
                        "_id": "63a3f5526647a7ed83d30c9f",
                        "firstName": "test2",
                        "lastName": "test2",
                        "email": "test2@yopmail.com",
                        "role": "user",
                        "phoneNumber": "4354356",
                        "country": "en",
                        "address": "132",
                        "city": "132",
                        "postcode": "132",
                        "company": "132"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/{userId}": {
        "get": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "User by ID",
          "description": "**Frontend Uses:**\n\n- Response: IUserByIDResponse",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "schema": {
                "type": "string"
              },
              "example": "63aed277bf2d3eda4e0edcc0"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "autoChargeAmount": 50,
                      "_id": "64bb678286f8c55861d3d2ee",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "john76.doe@example.com",
                      "role": "user",
                      "autoCharge": true,
                      "leadCost": 10,
                      "phoneNumber": "09876532",
                      "isRyftCustomer": true,
                      "isArchived": false,
                      "isLeadbyteCustomer": false,
                      "credits": 0,
                      "verifiedAt": null,
                      "isVerified": true,
                      "isActive": true,
                      "activatedAt": null,
                      "isDeleted": false,
                      "businessDetailsId": null,
                      "businessIndustryId": null,
                      "userLeadsDetailsId": null,
                      "invitedById": null,
                      "paymentMethod": "add credits manually",
                      "rowIndex": 3,
                      "userNotes": "",
                      "isLeadCostCheck": true,
                      "onBoarding": [
                        {
                          "key": "businessDetails",
                          "pendingFields": [
                            "businessIndustry",
                            "businessName",
                            "businessSalesNumber",
                            "businessPostCode",
                            "businessLogo",
                            "address1",
                            "businessOpeningHours",
                            "businessCity"
                          ],
                          "dependencies": []
                        },
                        {
                          "key": "leadDetails",
                          "pendingFields": [
                            "daily",
                            "leadSchedule",
                            "postCodeTargettingList"
                          ],
                          "dependencies": [
                            "businessIndustry"
                          ]
                        },
                        {
                          "key": "cardDetails",
                          "pendingFields": [
                            "cardNumber"
                          ],
                          "dependencies": []
                        }
                      ],
                      "isUserSignup": false,
                      "registrationMailSentToAdmin": false,
                      "createdAt": "2023-07-22T05:22:10.497Z",
                      "updatedAt": "2023-07-22T05:22:11.598Z",
                      "ryftClientId": "cus_01H5Y0RP53WA8X4JBGTVMMB62B"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "error": {
                      "message": "You dont't have access to this resource.!"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/{userId}": {
        "patch": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Update User",
          "description": "**Frontend Uses:**\n\n- Request: IUpateUserRequest\n- Response: IUpateUserResponse (UserBase)",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "schema": {
                "type": "string"
              },
              "example": "63aed277bf2d3eda4e0edcc0"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example":  {
                    "autoChargeAmount": 50,
                    "_id": "64bb678286f8c55861d3d2ee",
                    "firstName": "John",
                    "lastName": "Doe",
                    "email": "john76.doe@example.com",
                    "role": "user",
                    "autoCharge": true,
                    "leadCost": 10,
                    "phoneNumber": "09876532",
                    "isRyftCustomer": true,
                    "isArchived": false,
                    "isLeadbyteCustomer": false,
                    "credits": 0,
                    "verifiedAt": null,
                    "isVerified": true,
                    "isActive": true,
                    "activatedAt": null,
                    "isDeleted": false,
                    "businessDetailsId": null,
                    "businessIndustryId": null,
                    "userLeadsDetailsId": null,
                    "invitedById": null,
                    "paymentMethod": "add credits manually",
                    "rowIndex": 3,
                    "userNotes": "",
                    "isLeadCostCheck": true,
                    "onBoarding": [
                      {
                        "key": "businessDetails",
                        "pendingFields": [
                          "businessIndustry",
                          "businessName",
                          "businessSalesNumber",
                          "businessPostCode",
                          "businessLogo",
                          "address1",
                          "businessOpeningHours",
                          "businessCity"
                        ],
                        "dependencies": []
                      },
                      {
                        "key": "leadDetails",
                        "pendingFields": [
                          "daily",
                          "leadSchedule",
                          "postCodeTargettingList"
                        ],
                        "dependencies": [
                          "businessIndustry"
                        ]
                      },
                      {
                        "key": "cardDetails",
                        "pendingFields": [
                          "cardNumber"
                        ],
                        "dependencies": []
                      }
                    ],
                    "isUserSignup": false,
                    "registrationMailSentToAdmin": false,
                    "createdAt": "2023-07-22T05:22:10.497Z",
                    "updatedAt": "2023-07-22T05:22:11.598Z",
                    "ryftClientId": "cus_01H5Y0RP53WA8X4JBGTVMMB62B",
                    "premiumUser":"top-up",
                    "promoLinkId":"64bbd3d5b577b0466e7a4b77"
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "_id": "64b67928cc83d49f8ec7a161",
                      "firstName": "updated",
                      "lastName": "name updated",
                      "email": "jack123@example.com",
                      "role": "user",
                      "autoCharge": true,
                      "leadCost": 10,
                      "phoneNumber": "09876532",
                      "isRyftCustomer": true,
                      "isArchived": false,
                      "isLeadbyteCustomer": false,
                      "credits": 0,
                      "autoChargeAmount": 500,
                      "verifiedAt": null,
                      "isVerified": true,
                      "isActive": true,
                      "activatedAt": "2023-07-18T12:10:10.113Z",
                      "isDeleted": false,
                      "businessDetailsId": "64b67995cc83d49f8ec7a179",
                      "businessIndustryId": null,
                      "userLeadsDetailsId": "64b67b0496130d40296336f6",
                      "invitedById": null,
                      "paymentMethod": "add credits manually",
                      "rowIndex": 927,
                      "userNotes": "",
                      "isLeadCostCheck": true,
                      "onBoarding": [
                        {
                          "key": "businessDetails",
                          "pendingFields": []
                        },
                        {
                          "key": "leadDetails",
                          "pendingFields": [
                            "daily",
                            "leadSchedule",
                            "postCodeTargettingList"
                          ],
                          "dependencies": [
                            "businessIndustry"
                          ]
                        },
                        {
                          "key": "cardDetails",
                          "pendingFields": [
                            "cardNumber"
                          ],
                          "dependencies": []
                        }
                      ],
                      "isUserSignup": false,
                      "registrationMailSentToAdmin": true,
                      "createdAt": "2023-07-18T11:36:08.193Z",
                      "updatedAt": "2023-07-18T12:13:50.215Z",
                      "ryftClientId": "cus_01H5MCJJ89NHSZXH3E1Y32VTSA"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/{userId}": {
        "post": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Update User",
          "description": "**Frontend Uses:**\n\n- Request: IUpateUserRequest\n- Response: IUpateUserResponse (UserBase)",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "schema": {
                "type": "string"
              },
              "example": "63aed277bf2d3eda4e0edcc0"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example":  {
                    "autoChargeAmount": 50,
                    "_id": "64bb678286f8c55861d3d2ee",
                    "firstName": "John",
                    "lastName": "Doe",
                    "email": "john76.doe@example.com",
                    "role": "user",
                    "autoCharge": true,
                    "leadCost": 10,
                    "phoneNumber": "09876532",
                    "isRyftCustomer": true,
                    "isArchived": false,
                    "isLeadbyteCustomer": false,
                    "credits": 0,
                    "verifiedAt": null,
                    "isVerified": true,
                    "isActive": true,
                    "activatedAt": null,
                    "isDeleted": false,
                    "businessDetailsId": null,
                    "businessIndustryId": null,
                    "userLeadsDetailsId": null,
                    "invitedById": null,
                    "paymentMethod": "add credits manually",
                    "rowIndex": 3,
                    "userNotes": "",
                    "isLeadCostCheck": true,
                    "onBoarding": [
                      {
                        "key": "businessDetails",
                        "pendingFields": [
                          "businessIndustry",
                          "businessName",
                          "businessSalesNumber",
                          "businessPostCode",
                          "businessLogo",
                          "address1",
                          "businessOpeningHours",
                          "businessCity"
                        ],
                        "dependencies": []
                      },
                      {
                        "key": "leadDetails",
                        "pendingFields": [
                          "daily",
                          "leadSchedule",
                          "postCodeTargettingList"
                        ],
                        "dependencies": [
                          "businessIndustry"
                        ]
                      },
                      {
                        "key": "cardDetails",
                        "pendingFields": [
                          "cardNumber"
                        ],
                        "dependencies": []
                      }
                    ],
                    "isUserSignup": false,
                    "registrationMailSentToAdmin": false,
                    "createdAt": "2023-07-22T05:22:10.497Z",
                    "updatedAt": "2023-07-22T05:22:11.598Z",
                    "ryftClientId": "cus_01H5Y0RP53WA8X4JBGTVMMB62B",
                    "premiumUser":"top-up",
                    "promoLinkId":"64bbd3d5b577b0466e7a4b77"
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "_id": "64b67928cc83d49f8ec7a161",
                      "firstName": "updated",
                      "lastName": "name updated",
                      "email": "jack123@example.com",
                      "role": "user",
                      "autoCharge": true,
                      "leadCost": 10,
                      "phoneNumber": "09876532",
                      "isRyftCustomer": true,
                      "isArchived": false,
                      "isLeadbyteCustomer": false,
                      "credits": 0,
                      "autoChargeAmount": 500,
                      "verifiedAt": null,
                      "isVerified": true,
                      "isActive": true,
                      "activatedAt": "2023-07-18T12:10:10.113Z",
                      "isDeleted": false,
                      "businessDetailsId": "64b67995cc83d49f8ec7a179",
                      "businessIndustryId": null,
                      "userLeadsDetailsId": "64b67b0496130d40296336f6",
                      "invitedById": null,
                      "paymentMethod": "add credits manually",
                      "rowIndex": 927,
                      "userNotes": "",
                      "isLeadCostCheck": true,
                      "onBoarding": [
                        {
                          "key": "businessDetails",
                          "pendingFields": []
                        },
                        {
                          "key": "leadDetails",
                          "pendingFields": [
                            "daily",
                            "leadSchedule",
                            "postCodeTargettingList"
                          ],
                          "dependencies": [
                            "businessIndustry"
                          ]
                        },
                        {
                          "key": "cardDetails",
                          "pendingFields": [
                            "cardNumber"
                          ],
                          "dependencies": []
                        }
                      ],
                      "isUserSignup": false,
                      "registrationMailSentToAdmin": true,
                      "createdAt": "2023-07-18T11:36:08.193Z",
                      "updatedAt": "2023-07-18T12:13:50.215Z",
                      "ryftClientId": "cus_01H5MCJJ89NHSZXH3E1Y32VTSA"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/{userId}": {
        "delete": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Delete User",
          "description": "**Frontend Uses:**\n\n- Response: IMessageOnlyResponse",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "schema": {
                "type": "string"
              },
              "example": "63aed277bf2d3eda4e0edcc0"
            }
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "message": "User deleted successfully."
                  }
                }
              }
            }
          }
        }
      },
      "/profile/update-profile": {
        "patch": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Image Update",
          "description": "**Frontend Uses:**\n\n- Request: IUpateProfileRequest\n- Response: IUpdateProfileResponse",
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "example": "test"
                    },
                    "image": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "Profile updated successfully.",
                      "data":  {
                        "autoChargeAmount": 50,
                        "_id": "64bb678286f8c55861d3d2ee",
                        "firstName": "John",
                        "lastName": "Doe",
                        "email": "john76.doe@example.com",
                        "role": "user",
                        "autoCharge": true,
                        "leadCost": 10,
                        "phoneNumber": "09876532",
                        "isRyftCustomer": true,
                        "isArchived": false,
                        "isLeadbyteCustomer": false,
                        "credits": 0,
                        "verifiedAt": null,
                        "isVerified": true,
                        "isActive": true,
                        "activatedAt": null,
                        "isDeleted": false,
                        "businessDetailsId": null,
                        "businessIndustryId": null,
                        "userLeadsDetailsId": null,
                        "invitedById": null,
                        "paymentMethod": "add credits manually",
                        "rowIndex": 3,
                        "userNotes": "",
                        "isLeadCostCheck": true,
                        "onBoarding": [
                          {
                            "key": "businessDetails",
                            "pendingFields": [
                              "businessIndustry",
                              "businessName",
                              "businessSalesNumber",
                              "businessPostCode",
                              "businessLogo",
                              "address1",
                              "businessOpeningHours",
                              "businessCity"
                            ],
                            "dependencies": []
                          },
                          {
                            "key": "leadDetails",
                            "pendingFields": [
                              "daily",
                              "leadSchedule",
                              "postCodeTargettingList"
                            ],
                            "dependencies": [
                              "businessIndustry"
                            ]
                          },
                          {
                            "key": "cardDetails",
                            "pendingFields": [
                              "cardNumber"
                            ],
                            "dependencies": []
                          }
                        ],
                        "isUserSignup": false,
                        "registrationMailSentToAdmin": false,
                        "createdAt": "2023-07-22T05:22:10.497Z",
                        "updatedAt": "2023-07-22T05:22:11.598Z",
                        "ryftClientId": "cus_01H5Y0RP53WA8X4JBGTVMMB62B",
                        "premiumUser":"top-up",
                        "promoLinkId":"64bbd3d5b577b0466e7a4b77"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/reorder": {
        "patch": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Drag & Drop User",
          "description": "**Frontend Uses:**\n\n- Request: IReOrderRowIndexRequest\n- Response: IMessageOnlyResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "_id": "63aed277bf2d3eda4e0edcc0",
                      "rowIndex": 9
                    },
                    {
                      "_id": "63c772fc8811478a8e8d335c",
                      "rowIndex": 55
                    },
                    {
                      "_id": "63c7769c076e085b9b636ab7",
                      "rowIndex": 56
                    },
                    {
                      "_id": "63c7787ac67829e64f3990a9",
                      "rowIndex": 57
                    },
                    {
                      "_id": "63c7b34b258cd2a164c8db5a",
                      "rowIndex": 0
                    },
                    {
                      "_id": "63c79e990c1872c7e71fb6bf",
                      "rowIndex": 1
                    },
                    {
                      "_id": "63c7be5327e5829f7f6eacfc",
                      "rowIndex": 58
                    },
                    {
                      "_id": "63c7c8e017b6cb43a7b3d5a0",
                      "rowIndex": 0
                    },
                    {
                      "_id": "63c7d551013bd86af0f83541",
                      "rowIndex": 2
                    },
                    {
                      "_id": "63c7d5902e850b4be1e937ff",
                      "rowIndex": 0
                    }
                  ]
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "user list re-ordered!"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/export-csv-file": {
        "get": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Export CSV Clients",
          "description": "Don't know where to use",
          "parameters": [
            {
              "name": "isArchived",
              "in": "query",
              "schema": {
                "type": "boolean"
              },
              "example": "true"
            },
            {
              "name": "sortingOrder",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "example": "asc"
            },
            {
              "name": "id",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "example": "63aed277bf2d3eda4e0edcc0"
            }
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data":{
                      "autoChargeAmount": 50,
                      "_id": "64bb678286f8c55861d3d2ee",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "john76.doe@example.com",
                      "role": "user",
                      "autoCharge": true,
                      "leadCost": 10,
                      "phoneNumber": "09876532",
                      "isRyftCustomer": true,
                      "isArchived": false,
                      "isLeadbyteCustomer": false,
                      "credits": 0,
                      "verifiedAt": null,
                      "isVerified": true,
                      "isActive": true,
                      "activatedAt": null,
                      "isDeleted": false,
                      "businessDetailsId": null,
                      "businessIndustryId": null,
                      "userLeadsDetailsId": null,
                      "invitedById": null,
                      "paymentMethod": "add credits manually",
                      "rowIndex": 3,
                      "userNotes": "",
                      "isLeadCostCheck": true,
                      "onBoarding": [
                        {
                          "key": "businessDetails",
                          "pendingFields": [
                            "businessIndustry",
                            "businessName",
                            "businessSalesNumber",
                            "businessPostCode",
                            "businessLogo",
                            "address1",
                            "businessOpeningHours",
                            "businessCity"
                          ],
                          "dependencies": []
                        },
                        {
                          "key": "leadDetails",
                          "pendingFields": [
                            "daily",
                            "leadSchedule",
                            "postCodeTargettingList"
                          ],
                          "dependencies": [
                            "businessIndustry"
                          ]
                        },
                        {
                          "key": "cardDetails",
                          "pendingFields": [
                            "cardNumber"
                          ],
                          "dependencies": []
                        }
                      ],
                      "isUserSignup": false,
                      "registrationMailSentToAdmin": false,
                      "createdAt": "2023-07-22T05:22:10.497Z",
                      "updatedAt": "2023-07-22T05:22:11.598Z",
                      "ryftClientId": "cus_01H5Y0RP53WA8X4JBGTVMMB62B"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/forgetPassword": {
        "post": {
          "tags": [
            "Authenticated Routes > User module"
          ],
          "summary": "Forget Password",
          "description": "**Frontend Uses:**\n\n- Request: IForgetPasswordRequest\n- Response: IMessageOnlyResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "email": "john@gmail.com"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "Email sent please verify!"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "User does not exist."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/cardDetails/addCard": {
        "post": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Add card",
          "description": "**Frontend Uses:**\n\n- Request: IAddCardRequest\n- Response: IMessageOnlyResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "userId": "63a44d4a432ff7f58943d28a",
                    "cardNumber": "2222222222",
                    "expiryMonth": 12,
                    "expiryYear": 2028,
                    "cvc": 1234
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "Card Verified!"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cardDetails/toggleForCard/defaultCardId": {
        "patch": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Make Default card",
          "description": "**Frontend Uses:**\n\n- Response: IMakeDefaultCardResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": ""
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "_id": "64b5052dbcb95bd26af2bea8",
                      "cardNumber": "0000000000000085",
                      "userId": "64a5531952a9a3002254ef66",
                      "createdAt": "2023-07-17T09:09:01.086Z",
                      "isDeleted": false,
                      "deletedAt": null,
                      "updatedAt": "2023-07-18T12:31:14.709Z",
                      "__v": 0,
                      "isDefault": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cardDetails/{cardId}": {
        "delete": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Remove Card",
          "description": "**Frontend Uses:**\n\n- Response: IMessageOnlyResponse",
          "parameters": [
            {
              "name": "cardId",
              "in": "path",
              "schema": {
                "type": "string"
              },
              "example": "63aed277bf2d3eda4e0edcc0"
            }
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "error": {
                      "message": "Card has been already deleted."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cardDetails/{userId}": {
        "get": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Get cards based on user ID.",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "schema": {
                "type": "string"
              },
              "example": "63aed277bf2d3eda4e0edcc0"
            }
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": [
                      {
                          "_id": "64bbd472b577b0466e7a4bbc",
                          "cardNumber": "0085",
                          "userId": "64bbd405b577b0466e7a4b7e",
                          "isDefault": true,
                          "createdAt": "2023-07-22T13:06:58.147Z",
                          "isDeleted": false,
                          "deletedAt": null,
                          "paymentMethod": "pmt_01H5YVBKYGX86DDAM20XG214A1",
                          "status": "success",
                          "updatedAt": "2023-07-23T05:35:05.390Z",
                          "__v": 0
                      }
                  ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "error": {
                      "message": "Card has been already deleted."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cardDetails/addCredits": {
        "post": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Add Credits",
          "description": "**Frontend Uses:**\n\n- Request: IAddCreditsRequest\n- Response: IMessageOnlyResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "amount": 500
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "Credits Added Successfully"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cardDetails/create-session": {
        "post": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Create Session On RYFT",
          "description": "**Frontend Uses:**\n\n- Request: ICreateSessionOnRyftRequest\n- Response: ICreateSessionOnRyftResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "clientId": "cus_01H40588WX76VES1ABZ6D8X4ZV",
                    "email": "HIDE@example.com"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "clientSecret": "ps_01H5MFS4T1QQ6798G2MN80T876_secret_f51475c7-71a4-450c-b97a-7ce2c70edbda",
                      "publicKey": "pk_sandbox_KsBhr+1YuoJytmfdNgPxaZ5ekp0uKVVpGZq7Qz0r5W0ESpQ3ZIBJmpNr3nsUyYAm",
                      "status": "PendingPayment"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cardDetails/payment-status": {
        "post": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Webhook URL RYFT",
          "description": "**Frontend Uses:**\n\n- Request: IWebhookUrlOnRyftRequest\n- Response: IMessageOnlyResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "id": "ev_01H4NGCTKABF42KV07PSE894HG",
                    "eventType": "PaymentSession.captured",
                    "data": {
                      "id": "ps_01H4NH7MM54BYS941F48TAHEWB",
                      "amount": 320,
                      "currency": "GBP",
                      "customer": {
                        "id": "cus_01H40588WX76VES1ABZ6D8X4ZV"
                      }
                    },
                    "createdTimestamp": "1688644014"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "success"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cardDetails/session": {
        "get": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Payment Session ID",
          "description": "You can get payment details from RYFT by payment session ID.",
          "parameters": [
            {
              "name": "ps",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "example": "ps_01H4NW54MEBDD607G9Z295N7RE"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  },
                  "example": "<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"/><link rel=\"shortcut icon\" href=\"/newfavicon.ico\"/><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"/><meta name=\"theme-color\" content=\"#1A73E8\"/><link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"/apple-icon.png\"/><link rel=\"manifest\" href=\"/manifest.json\"/><title>SpotDif Leads - Dashboard</title><link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap\"/><link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.css\" integrity=\"sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==\" crossorigin=\"\"/><link href=\"https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp\" rel=\"stylesheet\"/><script defer=\"defer\" src=\"/static/js/main.d21e41d6.js\"></script><link href=\"/static/css/main.e2b0e55e.css\" rel=\"stylesheet\"></head><style nonce=\"base64value\"></style><script>window.markerConfig={project:\"63bd9096d061ac3c14fa8c2a\",source:\"snippet\"}</script><script async defer=\"defer\" type=\"text/javascript\" src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyAfxgraMFz_snFmt_T4gOeUvj89q4HK7b0&libraries=places\" nonce=\"\"></script><script>function turnOnZenDeskChat(e){const t=\"ze-snippet\";if(document.getElementById(t))return;const n=document.createElement(\"script\");n.id=t,n.async=1,n.src=\"https://static.zdassets.com/ekr/snippet.js?key=8648d882-0c30-4451-9d2d-389dbf416223\";var r=document.getElementsByTagName(\"script\")[0];r.parentNode.insertBefore(n,r)}!function(e,t,n){if(!e.__Marker){e.__Marker={};var r=[],s={__cs:r};[\"show\",\"hide\",\"isVisible\",\"capture\",\"cancelCapture\",\"unload\",\"reload\",\"isExtensionInstalled\",\"setReporter\",\"setCustomData\",\"on\",\"off\"].forEach((function(e){s[e]=function(){var t=Array.prototype.slice.call(arguments);t.unshift(e),r.push(t)}})),e.Marker=s;var a=t.createElement(\"script\");a.async=1,a.src=\"https://edge.marker.io/latest/shim.js\";var c=t.getElementsByTagName(\"script\")[0];c.parentNode.insertBefore(a,c)}}(window,document),document.addEventListener(\"turn-on-chat\",(()=>turnOnZenDeskChat()))</script><body><noscript>You need to enable JavaScript to run this app.</noscript><div id=\"root\"></div></body></html>"
                }
              }
            }
          }
        }
      },
      "/cardDetails/session-new": {
        "post": {
          "tags": [
            "Authenticated Routes > Card Details"
          ],
          "summary": "Retrieve Payment Details",
          "description": "**Frontend Uses:**\n\n- Request: 'taking query params'\n- Response: IRetrievePaymentDetailsResponse",
          "requestBody": {
            "content": {}
          },
          "parameters": [
            {
              "name": "ps",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "example": "ps_01H5S6WHZJVX0CHYCD5PN9X7YP"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "sessionId": "ps_01H5S6WHZJVX0CHYCD5PN9X7YP",
                      "status": "Captured"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/adminSettings": {
        "post": {
          "tags": [
            "Authenticated Routes > Admin Settings"
          ],
          "summary": "Create Settings",
          "description": "**Frontend Uses:**\n\n- Request: ICreateAdminSettingsRequest\n- Response: ICreateAdminSettingsResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "amount": 500,
                    "thresholdValue": 10,
                    "defaultLeadAmount": 10
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "amount": 500,
                      "thresholdValue": "10",
                      "createdAt": "2022-12-23T11:32:10.164Z",
                      "_id": "63a591ba84f40277000393d6",
                      "updatedAt": "2022-12-23T11:32:10.164Z",
                      "__v": 0
                    }
                  }
                }
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Authenticated Routes > Admin Settings"
          ],
          "summary": "Update Settings",
          "description": "**Frontend Uses:**\n\n- Request: IUpdateAdminSettingsRequest\n- Response: IUpdateAdminSettingsResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "thresholdValue": 20
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "message": "successfuly updated!",
                    "data": {
                      "_id": "63a591ba84f40277000393d6",
                      "amount": 500,
                      "thresholdValue": "10",
                      "createdAt": "2022-12-23T11:32:10.164Z",
                      "updatedAt": "2022-12-23T11:32:10.164Z",
                      "__v": 0
                    }
                  }
                }
              }
            }
          }
        },
        "get": {
          "tags": [
            "Authenticated Routes > Admin Settings"
          ],
          "summary": "Get Settings",
          "description": "**Frontend Uses:**\n\n- Response: IGetAdminSettingsResponse",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "_id": "63a591ba84f40277000393d6",
                      "amount": 500,
                      "thresholdValue": "20",
                      "createdAt": "2022-12-23T11:32:10.164Z",
                      "updatedAt": "2022-12-23T11:33:15.876Z",
                      "__v": 0
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Authenticated Routes > Admin Settings"
          ],
          "summary": "Delete Settings",
          "description": "**Frontend Uses:**\n\n- Response: IMessageOnlyResponse",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "data": {
                      "message": "Data deleted successfully"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/adminSettings/FAQs": {
        "patch": {
          "tags": [
            "Authenticated Routes > Admin Settings"
          ],
          "summary": "Update FAQs",
          "description": "**Frontend Uses:**\n\n- Request: IUpdateFAQsRequest\n- Response: IApiSuccessResponse",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
[...]
